@page
@model ContosoCrafts.WebSite.Pages.FromDatabaseModel
@{
    ViewData["Title"] = "From Database";
}
@using ContosoCrafts.WebSite.Models
<div class="card-columns">
    @foreach (var item in Model.ProductsList)
    {
        <div class="card">
            <h5 class="card-header">@item.Title</h5>
            <div class="card-img" style="background-image: url(@item.Image);">
            </div>
            <div class="card-body">
                <p>@item.Description</p>
            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

