@page
@model ContosoCrafts.WebSite.Pages.FromDatabaseModel
@{
    ViewData["Title"] = "From Database";
}
@using ContosoCrafts.WebSite.Models
<div class="card-columns">
    @foreach (var item in Model.ProductsList)
    {
        <div class="card">
            <div class="card-img" style="background-image: url(@item.Image);"></div>
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
            </div>
            @*<div class="card-footer">
                <small class="test-muted">
                    <button onclick="" data-toggle="modal" data-target="#productModalDB" class="btn btn-primary">
                        More Info
                    </button>
                </small>
            </div>*@
        </div>
    }
</div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

