@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileProductService ProductService

<div class="card-columns">
@foreach (var product in ProductService.GetProducts())
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@product.Title</h5>
        </div>
        <div class="card-img" style="background-image: url('@product.Image');">
        </div>
        <div class="card-body">
            <p class="card-title">@product.Description</p>
        </div>
    </div>
}
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

